<input
  type="checkbox"
  (click)="onClickOpenMenu()"
  [checked]="isMenuOpen"
  id="burger-toggle"
/>
<label for="burger-toggle" class="burger-menu">
  <div class="line"></div>
  <div class="line"></div>
  <div class="line"></div>
</label>
<div class="menu" *ngIf="isMenuOpen">
  <div class="menu-inner">
    <ul class="menu-nav">
      <li class="menu-nav-item" (click)="onClickOpenMenu()">
        <a class="menu-nav-link text-light" [routerLink]="['/home']"
          ><span>
            <div>Home</div>
          </span></a
        >
      </li>
      <li class="menu-nav-item" (click)="onClickOpenMenu()">
        <a class="menu-nav-link" [routerLink]="['/tracker']"
          ><span>
            <div>Statistics</div>
          </span></a
        >
      </li>
      <li class="menu-nav-item" (click)="onClickOpenMenu()">
        <a class="menu-nav-link" [routerLink]="['/contact']"
          ><span>
            <div>Contact</div>
          </span></a
        >
      </li>
    </ul>
    <div class="gallery">
      <div class="title">
        <p>Covid Tracker</p>
      </div>
      <div class="images">
        <a class="image-link" [routerLink]="['/home']" href="#">
          <div class="image" data-label="Home" (click)="onClickOpenMenu()">
            <img src="../../assets/images/home.jpg" alt="" />
          </div>
        </a>
        <a
          class="image-link"
          [routerLink]="['/tracker']"
          (click)="onClickOpenMenu()"
        >
          <div class="image" data-label="Tracker">
            <img src="../../assets/images/statistics.jpg" alt="" />
          </div>
        </a>
        <a
          class="image-link"
          [routerLink]="['/Contact']"
          (click)="onClickOpenMenu()"
        >
          <div class="image" data-label="Contact">
            <img src="../../assets/images/contact.jpg" alt="" />
          </div>
        </a>
      </div>
      <h2 class="text-light mt-5">Created By Alexandru And Giulia</h2>
    </div>
  </div>
</div>
