
<footer class="bg-darker">
  <div class="container">
      <div class="row">
          <div class="col-sm-12 col-md-4">
              <div class="mt-20">
                <img [src]="image" alt="logo small">
              </div>
              <p class="color-footer mt-8">
                  <span>&#169;</span> LLC. All rights reserved. <br>
                  <span class="text-secondary">Proudly made in NY</span>
              </p>
              <ul class="color-grey list-inline d-flex">
                  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fa fa-facebook-official"></i></a></li>
                  <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                  <li><a href="#"><i class="fa fa-youtube-play"></i></a></li>
                  <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
              </ul>
          </div>
          <div class="col-sm-12 col-md-8">
              <div class="row">
                  <div class="col-sm-6 col-md-3">

                      <h5 class="text-secondary mt-30"><strong>Company</strong></h5>
                      <ul class="color-grey list-unstyled">
                          <li><a href="#">About</a></li>
                      </ul>
                  </div>


                  <div class="col-sm-6 col-md-3">
                      <h5 class="text-secondary mt-30"><strong>Support</strong></h5>
                      <ul class="color-grey list-unstyled">
                          <li><a href="#">Contact support</a></li>
                          <li><a href="#">FAQ</a></li>
                          <li><a href="#">Network Status</a></li>
                      </ul>
                  </div>
              </div>

          </div>

      </div>
  </div>



</footer>

