.mt-30 {
  margin-top: 30px;
}
.mt-20 {
  margin-top: 20px;
}
.mt-8 {
  margin-top: 5px;
}
ul.color-grey > li > a {
  color: #79859e;
}
.color-footer {
  color: #64718f;
}
.text-dark {
  color: #455578;
}
img {
  max-width: 100px;
  width: 100%;
  height: 100px;
}
a {
  text-decoration: none;
}

.list-inline {
  li {
    padding: 10px;
  }
}
