
<div class="container-fluid">
  <div class="row">
    <nav class="navbar-expand-lg">

      <div class=" col-sm-6">
        <img class="img-fluid " style="width:30%" src="https://www.google.com/url?sa=i&url=http%3A%2F%2Fwww.sanita24.ilsole24ore.com%2Fart%2Fdal-governo%2F2021-04-01%2Fcovid-23649-nuovi-contagi-356mila-tamponi-e-501-decessi-182950.php%3Fuuid%3DAD9mspUB&psig=AOvVaw0tL0KilEm9EbrDooDSYT-m&ust=1634394103737000&source=images&cd=vfe&ved=0CAsQjRxqFwoTCJjsuNnOzPMCFQAAAAAdAAAAABAD" alt=""/>
      </div>
      <div class=" col-sm-6">dhjshdjshdjshdjsh</div>
    </nav>

  </div>

</div>

